
#map {
    width: 95vw;
    height: 95vh;
    background: url('images/map.png') no-repeat center;
    background-size: contain;
    margin: 0 auto;
    position: relative;
    object-fit: none;
}

.klas_icoon {
    width: 3vw;
    text-align: center;
}

.klas_icoon img, p {
    width: 100%;
    height: 100%;
    margin: 0;
}

.klas_naam {
    background-color: white;
    border: 1px solid black;
    visibility: hidden;
}

.klas_icoon img {
    cursor: pointer;
}

/* klas icoon posities */
#K1A {
    position: absolute;
    margin-left: 64vw;
    margin-top: 41vh;
}
#K1B {
    position: absolute;
    margin-left: 51vw;
    margin-top: 38vh;
}

#K2A {
    position: absolute;
    margin-left: 42vw;
    margin-top: 30vh;
}
#K2B {
    position: absolute;
    margin-left: 31vw;
    margin-top: 15vh;
}

#K3A {
    position: absolute;
    margin-left: 60vw;
    margin-top: 17vh;
}
#K3B {
    position: absolute;
    margin-left: 37vw;
    margin-top: 54vh;
}

#SPA {
    position: absolute;
    margin-left: 67vw;
    margin-top: 55vh;
}
#SPB {
    position: absolute;
    margin-left: 25vw;
    margin-top: 55vh;
}

#dir21 {
    position: absolute;
    margin-left: 54vw;
    margin-top: 9vh;
}

#L1A {
    position: absolute;
    margin-left: 54vw;
    margin-top: 25vh;
}
#L1B {
    position: absolute;
    margin-left: 49vw;
    margin-top: 25vh;
}

#L2A {
    position: absolute;
    margin-left: 38vw;
    margin-top: 43vh;
}
#L2B {
    position: absolute;
    margin-left: 26vw;
    margin-top: 67vh;
}

#L3A {
    position: absolute;
    margin-left: 46vw;
    margin-top: 13vh;
}
#L3B {
    position: absolute;
    margin-left: 34vw;
    margin-top: 37vh;
}

#L4A {
    position: absolute;
    margin-left: 52vw;
    margin-top: 66vh;
}
#L4B {
    position: absolute;
    margin-left: 71vw;
    margin-top: 41vh;
}

#L5A {
    position: absolute;
    margin-left: 67vw;
    margin-top: 23vh;
}
#L5B {
    position: absolute;
    margin-left: 46vw;
    margin-top: 57vh;
}

#L6 {
    position: absolute;
    margin-left: 49vw;
    margin-top: 47vh;
}
#LO {
    position: absolute;
    margin-left: 57vw;
    margin-top: 49vh;
}

/* hover */
#K1A :hover ~ #p_K1A {
    visibility: visible;
}
#K1B :hover ~ #p_K1B {
    visibility: visible;
}

#K2A :hover ~ #p_K2A {
    visibility: visible;
}
#K2B :hover ~ #p_K2B {
    visibility: visible;
}

#K3A :hover ~ #p_K3A {
    visibility: visible;
}
#K3B :hover ~ #p_K3B {
    visibility: visible;
}

#SPA :hover ~ #p_SPA {
    visibility: visible;
}
#SPB :hover ~ #p_SPB {
    visibility: visible;
}

#dir21 :hover ~ #p_dir21 {
    visibility: visible;
}

#L1A :hover ~ #p_L1A {
    visibility: visible;
}
#L1B :hover ~ #p_L1B {
    visibility: visible;
}

#L2A :hover ~ #p_L2A {
    visibility: visible;
}
#L2B :hover ~ #p_L2B {
    visibility: visible;
}

#L3A :hover ~ #p_L3A {
    visibility: visible;
}
#L3B :hover ~ #p_L3B {
    visibility: visible;
}

#L4A :hover ~ #p_L4A {
    visibility: visible;
}
#L4B :hover ~ #p_L4B {
    visibility: visible;
}

#L5A :hover ~ #p_L5A {
    visibility: visible;
}
#L5B :hover ~ #p_L5B {
    visibility: visible;
}

#L6 :hover ~ #p_L6 {
    visibility: visible;
}
#LO :hover ~ #p_LO {
    visibility: visible;
}