#map {
    width: 95vw;
    height: 95vh;
    background: url('images/map.png') no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

#K1A {
    width: 100vw;
    height: 100vh;
}

#K1A img {
    width: 32px;
    height: 32px;
}